body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* ================= MAIN HEADER ================= */

#mainHeader {
    display: flex;
    background: #222;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 0px 20px;
}

#mainHeader nav a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-weight: bold;
}

#mainHeader nav a:hover {
    text-decoration: underline;
}

/* ================= CATEGORY HEADER ================= */

#categoryHeader {
    background: #444;
    color: white;
    padding: 5px 20px;
}

#categoryContent {
    margin-top: 5px;
    margin-bottom: 10px;
}

.categoryTop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0px;
}

.categoryTop h2 {
    margin: 0;
}

.categories {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.categorybtn {
    background: #666;
    color: white;
    padding: 8px 12px;
    text-decoration: none;
    border-radius: 4px;
    font-size: 14px;
}

/* Toggle Button */

#toggleHeader {
    background: none;
    border: none;
    color: white;
    font-size: 22px;
    cursor: pointer;
    padding: 0;
}

#toggleHeader:hover {
    opacity: 0.7;
}

/* CATALOG */

.catalog {
    padding: 20px;
}

/* Title styling */
#categoryTitle {
    margin-top: 0px;
    margin-bottom: 20px;
}

/* Product row */
.product-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.item {
    border: 1px solid #ccc;
    padding: 15px;
    width: 180px;
}

.item button {
    margin-top: 10px;
    width: 100%;
    cursor: pointer;
}

/* LOGIN PAGE */

#loginBox {
    display: inline-block;
    margin: 10px;
    padding: 15px;
    border: 2px solid gray;
    border-radius: 8px;
}

#loginLegend {
    margin: auto;
    text-align: center;
}

#loginForm {
    margin: 0 auto;
    width: auto;
    height: auto;
    text-align: center;
}

#confirm {
    margin-top: 10px;
}