body {
    margin: 0;
    font-family: Arial, sans-serif;
}

#mainHeader {
    display: flex;
    background: #222;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 0px 20px;
}

#mainHeader nav a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-weight: bold;
    float: right;
}

#mainHeader nav a:hover {
    text-decoration: underline;
}

#categoryHeader {
    position: relative;
    background: #444;
    color: white;
    padding: 15px 20px;
}

#categoryHeader h2 {
    margin-top: 0;
}

.categories {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.categorybtn {
    background: #666;
    color: white;
    padding: 8px 12px;
    text-decoration: none;
    border-radius: 4px;
    font-size: 14px;
}

#toggleHeader {
    position: absolute;
    bottom: 8px;
    right: 10px;

    background: transparent;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

#toggleHeader:hover {
    opacity: 0.7;
}

.catalog {
    display: flex;
    gap: 20px;
    padding: 20px;
}

.item {
    border: 1px solid #ccc;
    padding: 15px;
    width: 180px;
}

.item button {
    margin-top: 10px;
    width: 100%;
    cursor: pointer;
}
